*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
    gap: 10px;
    background-color: gray;
}
.gallery-container{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
   

}
.gallery-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
    transition: transform 0.3s ease;
}
.gall-card{
    height: 200px;
    width: 200px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: yellowgreen;
}

@media screen and (max-width: 768px) {
  
    .gall-card{
        width: 50%;
        height: 50%;
    }
   
    
}