*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
    background-color: gray;
}
.gallery-container{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
   

}
.gallery-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    transition: transform 0.3s ease;
}
.gall-card img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    cursor: pointer;

}
.gall-card{
    height: auto;
    width: 250px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: yellowgreen;
}

@media screen and (max-width: 768px) {
    .gall-card{
        height: auto;
        width: 32%;
    }
}
